body,html{
	margin: 0 auto;
	padding:0;
}

.img img{
	margin: 0 auto;
	width: 1500px;
	height: auto;

}


/*   Barre de navigation   */

.navBar{
position: sticky;	
background-color: black;
display: flex;
justify-content: space-between;
align-items: center;
width: 100%;
height: 84px;

}



/*    Bouton menu deroulant    */

.navButton{
	height:30px;
	width: 30px;
	position: relative;
	margin-left: 22px;
	margin-top: 5px;
	cursor: pointer;
}

.navButton span{
	height: 3px;
	background-color: #2c3e50;
	width: 70%;
	position: absolute;
	top:12px;
	left: 0;
}

.navButton span::after {
	content: '';
	height: 3px;
	background-color: #2c3e50;
	width: 100%;
	position: absolute;
	top:-6px;
	left: 0;
}

.navButton span::before {
	content:'';
	height: 3px;
	background-color: #2c3e50;
	width: 100%;
	position: absolute;
	top:6px;
	left: 0;
}

.menu{
	position: absolute;
	width: 1920px;
	background-color:white;
	z-index: 2;

}

.menu a{
	font-family: sans-serif;
	text-decoration: none;
	display: block;
	padding: 30px;
	text-align: center;
}

.nav{
	visibility: hidden;
	height: 0;
	transition-duration: 0.2s; 
}

.nav a {
	color: transparent;
	transition-duration: 0.1s
}

.navOpen{
	height: 312px;
	visibility: visible;
	transition-duration: 0.2s;
}

.navOpen a{
	color: black;
	transition-duration: 0.2s;
}



/*    Logo et panier    */ 

.nav_logo img{
	width: 45px;
	height: auto; 
}

.panier img{
	margin-right: 20px;
}



/*    SlideShow    */
.slideshow {
 
 border:solid;
}


/*    Soldes Livraison Cashback    */

.container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around; 	
	padding-top: 30px;
}

.container img{
border: 1px solid;
border-radius: 50%;
}

.icons_article{
	width: 1px;
	padding-left:60px;
	padding-right: 120px;
	
}
.text_article{
	text-align: center;
}



/*    Ecritures    */

@font-face {
	font-family: "Allura";
	src: url('fonts/Allura-Regular.ttf');
}

.fonts{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 120px;
}
.fonts h2,h3,p{
	text-align: center;
	line-height: 15px;
}

.fonts h2{
 font-family: "Allura", "sans-serif";
 color:#00000099;
 font-size: 30px;
}

.fonts h3{
	font-size: 40px;
	font-family:sans-serif;
}

.fonts p{
	font-size: 19px;
	font-family: "Cormorant";
	color: #00000099;
}


