body,html{
	margin: 0;
	padding:0;
}



/*   Barre de navigation   */

.navBar{

	position: sticky;
	top: 0;
	height: 100px;
	background-color: #f5f6fa;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 2;
}



/*    Bouton menu deroulant    */

.menu-btn{
	position: sticky;
	display: flex;
	align-items: center;
	top: 10px;
	left:30px;
	width: 20px;
	height: 28px;
	cursor: pointer;
}

.menu_btn_burger{
	position: sticky;
	border-radius: 10px;
	width: 20px;
	height: 4px;
	background-color: black;
	
}

.menu_btn_burger::after,.menu_btn_burger::before{
	content: '';
	position: absolute;
	border-radius: 10px;
	width: 100%;
	height: 100%;
	cursor: pointer;
	background-color: black;
}

.menu_btn_burger::before{
	transform: translateY(-8px) ;
}

.menu_btn_burger::after{
	transform: translateY(8px);
}
/*   Animation burger bouton   */

.menu-btn.open .menu_btn_burger {
	
	background: transparent;
}

.menu-btn.open .menu_btn_burger::before{
	transform: rotate(45deg) ;
}

.menu-btn.open .menu_btn_burger::after{
	transform: rotate(-45deg) ;
}



/*   Menu Déroulant   */

.menu{
	position: fixed;
	top:8em;
	width: 100%;
	background-color:#f5f6fa;
	z-index: 9999;
}

.menu a{
	font-family: sans-serif;
	text-decoration: none;
	display: block;
	padding: 30px;
	text-align: center;
}

.nav{
	visibility: hidden;
	height: 0;
	transition-duration: 0.2s; 
}

.nav a {
	color: transparent;
	transition-duration: 0.1s
}

.navOpen{
	height: 312px;
	visibility: visible;
	transition-duration: 0.2s;
}

.navOpen a{
	color: black;
	transition-duration: 0.2s;
}



/*    Logo et panier    */ 

.nav_logo img{
	position: relative;
	left: 15px;
	width: 45px;	
}

.panier img{
	margin-right: 20px;
	position: relative;
	right: 10px;
}
/*   Fin barre de navigation   */



/*    SlideShow    */

.slideshow-container {
	overflow: hidden;
	position: relative;
	margin: auto;
	width: 100%;
	height: auto;
}

.mySlides {
	display: none;
	height: 100%;
}
.mySlides img {
	max-width: 100%;
	height: auto;
}



/*   Slideshow Animation   */

.animated { 
   -webkit-animation-name: fadeIn; 
           animation-name: fadeIn; 
   -webkit-animation-duration: 1s; 
           animation-duration: 1s; 
} 
@-webkit-keyframes fadeIn { 
    0% {opacity: 0;} 
    100% {opacity: 1;} 
} 
@keyframes fadeIn { 
    0% {opacity: 0;} 
    100% {opacity: 1;} 
} 
.fadeIn { 
    -webkit-animation-name: fadeIn; 
    animation-name: fadeIn; 
}





/*    Soldes Livraison Cashback    */

.container{
	display: flex;
	width: 100%;
	justify-content: space-evenly; 	 
	padding-top: 30px;
}

.icon-container{
width: 100%;

}

.container img{
border: 1px solid;
border-radius: 50%;
}

.icons_article{
	text-align: center;
}
.text_article{
	text-align: center;
	font-size: 15px;
	font-family: "Montserrat","sans-serif";
}

@media screen and (max-width: 700px)
{
    .container{
		flex-direction: column;
		align-items: center;
	}
}


/*    Fonts    */

.font-section {
	margin-top: 120px;
	text-align: center;
}

@font-face {
	font-family: "Allura";
	src: url('fonts/Allura-Regular.ttf');
}

@font-face{
	font-family: "Montserrat";
	src: url('fonts/Montserrat-Light.ttf ');
}

.font-section h2{
	font-family: "Allura", "sans-serif";
 	color:#00000099;
	font-size: 30px;
	border: solid;
}

.font-section h3{
	font-size: 40px;
	font-family: "Montserrat","sans-serif";
	border: solid;
}

.font-section p{
	font-size: 19px;
	font-family: "Cormorant";
	color: #00000099;
	border: solid;	
}
