body{
    margin: 0;
    padding: 0;
    background-color: #333333;
}

/*   Barre de navigation   */

header{
width: 100%;
height: auto;
position: sticky;
top: 0;
z-index: 100;
background-color: whitesmoke ;
display: flex;
justify-content: space-between;
}

.logo{
    width: 7em;
    height: auto;
    position: relative;
    margin: 10 auto;
}

/*    Boutons de navigation   */

.navigation{
    width: 70%;
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.btn1:hover{
    color: #EE5A24;
}

.btn2:hover{
    color: #EE5A24;
}

.btn3:hover{
    color: #EE5A24;
}

.navigation a{
    color: inherit;
    text-decoration: none;
    font-size: 1.2vw;
    font-family: 'Revalia';
}

/*   Burger menu Version Tablette/Mobile  */

.navbar{
    display: none;
}


/*   SlideShow   */

.slideshow-container {
	overflow: hidden;
	position: relative;
    margin: auto;
	width: 100%;
    height: auto;
    z-index: 1;
}

.mySlides {
	display: none;
	height: auto;
}
.mySlides img {
	max-width: 100%;
    height: auto;
}

/*   Article Concept   */

.container{
    width: 80%;
    height: auto;
    margin: auto;
    padding-top: 50px;
    display: flex;
    text-align: center;
}

.article_concept{
    width: 40%;
    height: auto;
    background-image: url(img/orange.jpg)
}

.article_concept h1{
    font-family: "Reenie Beanie";
    text-transform: uppercase;
    font-size: 2.5vw;
    overflow: auto;
}

.article_concept p{
    font-family: "Revalia";
    font-size: 1vw;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
    overflow: auto;
}

.image_concept{
    width: 60%;
    background-image: url(img/coaching.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.concept_button {
    width: 156px;
	background-color:black;
	border-radius:1.2vw;
	display:inline-block;
	color:white;
	font-family:Arial;
	font-size:15px;
    margin-bottom: 40px;
	padding:16px 1px;
    text-decoration:none;
}

.concept_button:hover{
    color: #EE5A24;
}

/*   Offre   */


.offre_content{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    font-family: "Righteous";
}

.offre_titre{
    height: auto;
    font-size: 3em;
    margin-right: -61px;
    z-index: 3;
    color: #EE5A24 ;
}

.offre_image{
    width: 20%;
    height: 235px;
    min-width: 316px;
    background-image: url(img/offre.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: -70px;
    z-index: 2;
}

.offre_text{
    width: 30vw;
    height: 100%;
    min-width: 429px;
    min-height: 280px;
    background-color: #EE5A24;
    text-align: center; 
    padding-bottom: 10px;
    z-index: 1;
}

.offre_text h1{
    font-size: 3em;

}.offre_text h2{
    font-size: 1em;
}

/*   Article Coaching   */

.container_coaching{
    width: 80%;
    height: auto;
    margin: auto;
    padding-top: 100px;
    display: flex;
    text-align: center;
}

.article_coaching{
    width: 50%;
    height: auto;
    background-image: url(img/orange.jpg)
}

.article_coaching h1{
    font-family: "Reenie Beanie";
    text-transform: uppercase;
    font-size: 2.5vw;
    overflow: auto;
}

.container_coaching h2{
    font-family: "Revalia";
}


.article_coaching p{
    font-family: "Revalia";
    font-size: 1.1vw;
    overflow: auto;
}

     
.image_coaching{
    width: 60%;
    height: auto;
    background-image: url(img/coaching_2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/*   Actualites   */
.actualites{
    width: 100%;
    height: 500px;
    margin-top: 100px;
    background-color: #ecf0f1 ;
}

.actualites>h1{
text-align: center;
font-family: "Revalia";
color: #EE5A24;
padding-top: 20px;
}

.actu_container{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    font-family: "Righteous";
    text-align: center;
}

.actu{
    width: 18vw;
    background-color: whitesmoke;
  
}

.actu img{
    width: 18vw;
    border: #EE5A24 1px solid;
}

.actu h1{
    text-decoration: underline;
}

/*   Footer   */

footer{
    width: 100%;
    height:135px;
    background-color: whitesmoke;
    margin-top: 100px;
    display: flex ;
    justify-content: space-between;
    font-family: "Revalia";
    font-size: 0.7em;
    text-align: center;
}


.avis{
    width: 30%;
    text-align: center;
}

.checked{
    color: orange;
}



.avis a{
    font-size: 1vw;
}

.salles{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.salles_textes{
    width: 20%;
}


ul{
    margin: 0;
    padding: 0;
    text-align: left;
}

.reseaux{
    display: flex;
    justify-content: space-around;
}




/*   Version Mobile /Tablette   */

@media screen and (max-width: 1000px){

    /*   Header   */

    .logo{
        margin: 10 auto;
        
    }

    /*   Burger menu  */

    .navigation{
        display: none;
    }

    .navBar{
        width: auto;
        height: auto;
        margin: auto 50px;
        padding-bottom: 10px;
        display: initial;
        
    }

    .menu-btn{
        position: sticky;
        display: flex;
        align-items: center;
        top: 0px;
        width: 25px;
        height: 28px;
        margin-right: 19px;
    }

    .menu_btn_burger{
        position: sticky;
        border-radius: 10px;
        width: 20px;
        height: 4px;
        background-color: black;
        
    }

    .menu_btn_burger::after,.menu_btn_burger::before{
        content: '';
        position: absolute;
        border-radius: 10px;
        width: 100%;
        height: 100%;
        background-color: black;
    }

    .menu_btn_burger::before{
        transform: translateY(-8px) ;
    }

    .menu_btn_burger::after{
        transform: translateY(8px);
    }
    /*   Animation burger bouton   */

    .menu-btn.open .menu_btn_burger {
        
        background: transparent;
    }

    .menu-btn.open .menu_btn_burger::before{
        transform: rotate(45deg) ;
    }

    .menu-btn.open .menu_btn_burger::after{
        transform: rotate(-45deg) ;
    }

    /*   Menu déroulant   */

    .menu{
        position: fixed;
        width: 100%;
        background-color:whitesmoke;
        z-index: 9999;
    }

    .menu a{
        font-family: "Revalia";
        text-decoration: none;
        display: block;
        padding: 30px;
        text-align: center;
    }

    .menu a:hover{
    color: #EE5A24;
    }

    .nav{
        visibility: hidden;
        height: 0;
        transition-duration: 0.2s; 
    }

    .nav a {
        color: transparent;
        transition-duration: 0.1s
    }

    .navOpen{
        height: auto;
        visibility: visible;
        transition-duration: 0.2s;
    }

    .navOpen a{
        color: black;
        transition-duration: 0.2s;
    }

    /*   Article Concept   */

    .container{
        flex-direction: column-reverse;
        align-items: center;
    }
    
    .article_concept{
        width: 80%;
    }
    
    .article_concept h1{
        font-size: 3.5vw;
        padding-bottom: 20px;
    }
    
    .article_concept p{
        font-size: 2vw;
    }
    
    .image_concept{
        width: 80%;
        height: 200px;
    
    }
    .concept_button {
        font-size:1.5vw;
    }
    
        /*   Offre   */


    .offre_content{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }

    .offre_titre{
        height: auto;
        font-size: 4em;
        margin-right: 3px;
        margin-bottom: -132px;
    }

    .offre_image{
        width: 40%;
        margin-right: 1.5px;
        margin-bottom: -10;
    }

    .offre_text{
        width: 50%;
    }

    .offre_text h1{
        font-size: 4em;

    }.offre_text h2{
        font-size: 2em;
    }

    /*   Article Coaching   */

    .container_coaching{
        flex-direction: column;
        align-items: center;
    }
    
    .article_coaching{
        width: 80%;
    }
    
    .image_coaching{
        width: 80%;
        height: 200px;
    
    }

    .container_coaching img{
        width: 100%;
        height: auto;
    }

    .article_coaching h1{
        font-size:3.5vw;
    }

    .article_coaching p{
        font-family: "Revalia";
        font-size: 1.5vw;
        overflow: auto;
    }
    /*   Footer   */

    footer{

        font-size: 0.5em;
    }

}